<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376051576229-g90vpf95jlbkepoghu1bqv73erof2405.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376051576229-g90vpf95jlbkepoghu1bqv73erof2405</string>
	<key>API_KEY</key>
	<string>AIzaSyBt_dguvQ8MQp9AwwMi1RVV1NgUAE8oU3c</string>
	<key>GCM_SENDER_ID</key>
	<string>376051576229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.transportapp.prod</string>
	<key>PROJECT_ID</key>
	<string>transport-app-696e6</string>
	<key>STORAGE_BUCKET</key>
	<string>transport-app-696e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376051576229:ios:33395bd6c2fd0ca4914c4c</string>
</dict>
</plist>